{% extends 'base.html.twig' %}

{% block title %}Calendrier des saisons!{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">
{% endblock %}

{% block body %}
  <div id="fond"></div>
        
        <!-- carousel -->
        <div class="container" id="carousel">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>            
    </ol>

    <div class="carousel-inner" role="listbox">

        <!-- Printemps-->
        <div class="carousel-item" style="background-image: url('images/juin.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Printemps</h3>
            <button type="button" class="btn btn-lg btn-primary" id="btn-prin">Voir les légumes & les fruits de la saison</button>
          </div>
        </div>

        <!-- Été-->
        <div class="carousel-item" style="background-image: url('images/juillet.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Été</h3>
            <button type="button" class="btn btn-lg btn-primary" id="btn-ete">Voir les légumes & les fruits de la saison</button>
          </div>
        </div>      

         <!-- Automne-->
        <div class="carousel-item" style="background-image: url('images/novembre.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Automne</h3>
            <button type="button" class="btn btn-lg btn-primary" id="btn-aut">Voir les légumes & les fruits de la saison</button>
          </div>
        </div>

        <!-- Hiver-->
        <div class="carousel-item active" style="background-image: url('images/decembre.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Hiver</h3>
            <button type="button" class="btn btn-lg btn-primary" id="btn-hiv">Voir les légumes & les fruits de la saison</button>
          </div>
        </div>

    </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  


</div>
      
<!-- carousel finish -->
<h1 id="titre">Les calendriers des légumes <br> & fruits de la saison</h1>
 
      <div id="bouton">
        
        <button type="button" id="bouton-légumes">les légumes</button>
        <button type="button" id="bouton-fruits" >les fruits</button>

      </div>




<!-- hiver-Fruits-->



{# <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div  id="fruits-hiv" class="row">

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/mangue.png" alt="Mangue">
            <h4 class="card-title">Mangue</h4>
          </div>
        </div>

        <div class="card-back text-white">
          <div class="card-body">
              <h3 class="card-title">Mangue</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> Perou</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 12.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/framboise.png" alt="Framboise">
             <h4 class="card-title">Framboise</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Framboise</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> Maroc</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 3.95 250g</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>   
    
    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/banane.png" alt="Banane">
            <h4 class="card-title">Banane</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Banane</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> Marthénique</p>
              <p class="card-text"><span class="ori-pri">Prix :</span>2.20 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>   

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/citron.png" alt="Citron">          
            <h4 class="card-title">Citron</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Citron</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> France</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 2.80 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>   

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/avocat.png" alt="Avocat">          
            <h4 class="card-title">Avocat</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Avocat</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> Perou</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 1.80 la pièce</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>   

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/clementine.png" alt="Clementine">          
            <h4 class="card-title">Clementine</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Clementine</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
              <p class="card-text"><span class="ori-pri">Prix :</span>5.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div> 

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/kaki.png" alt="Kaki">          
            <h4 class="card-title">Kaki</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Kaki</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 5.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div> 

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/citron-vert.png" alt="Citron vert">          
            <h4 class="card-title">Citron vert</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Citron vert</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> italie</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 6.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div> 

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/orange.png" alt="Orange">          
            <h4 class="card-title">Orange</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Orange</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> Espagne</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 5.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div> 

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/myrtille.png" alt="Myrtille">          
            <h4 class="card-title">Myrtille</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Myrtille</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span>Maroc</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 3.95 250g</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/groseille.png" alt="Groseille">          
            <h4 class="card-title">Groseille</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Groseille</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> portugal</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 3.95 250g</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/golden.png" alt="Pomme golden">         
            <h4 class="card-title">Pomme golden</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Pomme golden</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 2.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/royal_gala.png" alt=" Pomme royal">          
            <h4 class="card-title">Royal gala</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Royal gala</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> France</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 2.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/comice.png" alt="Poire comice">          
            <h4 class="card-title">poire comice</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title"> poire comice</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 4.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/pink-lady.png" alt="Pomme pink lady">          
            <h4 class="card-title">Pomme pink lady</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Pomme pink lady</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> France</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 4.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg></a>
          </div>
        </div>
        
      </div>
    </div>  

    <div class='col-lg-3 col-md-6 col-sm-12'>
      <div class="card card-flip">

        <div class="card-front">
          <div class="card-body">
            
            <img class="card-img-top" src="images/fruits/conférence.png" alt="Poire conférence">         
            <h4 class="card-title">Poire conférence</h4>
          </div>
        </div>

        <div class="card-back  text-white">
          <div class="card-body">
            <h3 class="card-title">Poire conférence</h3>
              <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> 2.95 le kg</p>
              <a href="#" class="btn btn-outline-secondary">Ajouter au panier</a>
          </div>
        </div>
        
      </div>
    </div>  
    <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/pomelos.png" alt="Pomelos">         
              <h4 class="card-title">Pomelos</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Pomelos</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 6.95 le kg</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>  
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/kiwi.png" alt="Kiwi">         
              <h4 class="card-title">Kiwi</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Kiwi</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 2 les 4 pièces</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>  
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/raisin-noire.png" alt="Raisin muscat">         
              <h4 class="card-title">Raisin muscat</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Raisin muscat</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 6.95 le kg</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>  
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/kiwi-jaune.png" alt="Kiwi jaune">         
              <h4 class="card-title">Kiwi jaune</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Kiwi jaune</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> france</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 3 les 3 pièces</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>  
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/anans.png" alt="Ananas">         
              <h4 class="card-title">Ananas</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Ananas</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> Bénin</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 4.95 le kg</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>  
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/fruits de la passion.png" alt="Fruits de la passion">         
              <h4 class="card-title">Fruits de la passion</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Fruits de la passion</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> marthénique</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 19.95 le kg</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/orange_jus.png" alt="Orange à jus">         
              <h4 class="card-title">Orange à jus</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Orange à jus</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> Espagne</p>
                <p class="card-text"><span class="ori-pri">Prix :</span>2.20 le kg </p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">
  
          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="images/fruits/noix.png" alt="Noix">         
              <h4 class="card-title">Noix</h4>
            </div>
          </div>
  
          <div class="card-back  text-white">
            <div class="card-body">
              <h3 class="card-title">Noix</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> France</p>
                <p class="card-text"><span class="ori-pri">Prix :</span> 9.95 le kg</p>
                <a href="#" class="btn btn-outline-secondary">Ajouter au panier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg></a>
            </div>
          </div>
          
        </div>
      </div>

  </div>
</div>
</div> #}
<!-- hiver finish -->
<!-- hiver légumes -->
<div class="container" id="hiver">

 <div class="container" style="margin-top: 20px; margin-bottom: 20px; ">
    <div  id="légumes-hiv" class="row" >
    {% for legume in legumes %}
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">

          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="{{ vich_uploader_asset(legume, 'imageFile') }}" alt={{legume.nom}}>
              <h4 class="card-title">{{legume.nom}}</h4>
            </div>
          </div>

          <div class="card-back  text-white">
            <div class="card-body">
            <div class="top-card">
                <h4 class="card-title">{{legume.nom}}</h4>
                <a class="btn btn-danger" href="{{ path('delete', {id: legume.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?')">
					        <i class="fa fa-trash" aria-hidden="true"></i>
				      </a>
              <a class="btn btn-danger" href="{{ path('update', {id: legume.id}) }}" title="modifier">
					       <i class="fas fa-pen-square" aria-hidden="true"></i>
				      </a>
            </div>
                
                <p class="card-text"> <span class="ori-pri">Origine :</span> {{legume.origine}}</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> {{legume.prix}}</p>
              
              <a href="#" class="btn btn-outline-secondary"> Ajouter au panier  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg> </a>
            </div>
          </div>
          
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  
<!-- hiver fruits -->

   <div class="container" style="margin-top: 20px; margin-bottom: 20px; ">
    <div  id="légumes-hiv" class="row" >
    {% for fruit in fruits %}
      <div class='col-lg-3 col-md-6 col-sm-12'>
        <div class="card card-flip">

          <div class="card-front">
            <div class="card-body">
              
              <img class="card-img-top" src="{{ vich_uploader_asset(fruit, 'imageFile') }}" alt={{fruit.nom}}>
              <h4 class="card-title">{{fruit.nom}}</h4>
            </div>
          </div>

          <div class="card-back  text-white">
            <div class="card-body">
                <h3 class="card-title">{{fruit.nom}}</h3>
                <p class="card-text"> <span class="ori-pri">Origine :</span> {{fruit.origine}}</p>
              <p class="card-text"><span class="ori-pri">Prix :</span> {{fruit.prix}}</p>
              <a href="#" class="btn btn-outline-secondary"> Ajouter au panier  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg> </a>
            </div>
          </div>
          
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
